body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 23px;
    justify-content: center;
    justify-items: center;

}

header {
    background: linear-gradient(90deg, #5252523c, #5252523c, #5252523c);
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: #ff0707; 
    font-weight: 200px;
    width: 100%; 
}

nav {
    background: linear-gradient(90deg, #5d5c5c, #5d5c5c, #5d5c5c);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: lightgray; 
}

#elem {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.text1 {
    display: flex; 
    gap: 20px; 
    align-items: center;
}



#inicio img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.column {
    flex: 1;
    max-width: 600px;
}


#c { 
    display: flex;

}

.c img:hover{
    transform: scale(1.05)
}

h2 {
    text-align: center;
}

#d {
    max-width: 200px;
}

.card img:hover{
    transform: scale(1.05)
}

img {
    transition: transform 0.3s ease;
}

footer {
    background: linear-gradient(90deg, #ff0000, #000000, #ff0000);
    text-align: center;
    padding: 1px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

main {
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: transform 0.3 ease;
    justify-content: center;
    align-items:center;
    gap: 15px;
}

.card {
    border-radius: 15px;
    padding-bottom: 10px;
}

#vd-exp {
    align-items: center;
    justify-content: center;
    display: flex;
}

#text2 {
    align-items: center;
    justify-content: center;
    display: flex;
}

.card img {
    width: 300px;
    height: 425px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

iframe {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

#tit2 {
    display: flex;
    justify-content: center;

}

.ving {
    display: flex;
    margin-left: 220px;
    margin-right: 220px;
}

#bodyform {
    background-color: darkred;
}

.titform {
    background-color: #808080;
    background: linear-gradient(90deg, #808080, #808080, #808080);
    text-align: center;
    padding: 10px;
    color: #ff0707; 
    margin-bottom: 20px;
    width: 100%;
}

#form {
    background-color: rgb(255, 255, 255);
    justify-items: center;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(108, 6, 6);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    gap: 10px;
}

@media (min-width: 1024px) {
    main {
        max-width: 900px;
        margin: auto;
    }
}